body {
	font-size:12px;
}

h1 {
	font-family:sans-serif;
}

div.message {
	font-size:1.6em;
	font-family:sans-serif;
}

div.message.error {
	color:#F44;
}

.command {
	font-family:monospace;
}

#outputtextarea {
	border-color:black;
	border-style:solid;
	border-width:2px;
	height:500px;
	width:800px;
	overflow:scroll;
}

div.row {
	position:relative;
	clear:both;
}

div.square {
	text-align:center;
	font-family:monospace;
	font-size:20px;
	line-height:25px;
	color:#33F;
	float:left;
	height:25px;
	width:25px;
	border-style:solid;
	border-width:1px;
	border-color:black;
	cursor:crosshair;
	background-image:url('squareSprites.gif');
	background-position:0px -50px;
	background-color:#CCC;
}


div.square.dug {
	background-color:#999;
	cursor:default;
}

div.square.flagged {
	background-position:0px -25px;
}

div.square.bomb {
	background-position:0px 0px;
}

div.square.exploded {
	background-color:#F44;
}